* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 188, 197);
}







.nav {
    background-color: rgb(60, 188, 197);
    text-align: center;
    padding: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    color: white;
}

.food {
    background-color: rgb(60, 188, 197);
    font-size: 120px;
    color: rgba(255, 255, 255, 0.249);
    text-align: left;
    margin-left: 50px;
}

.container {
    background-color: rgb(60, 188, 197);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    color: white;
}

.para {
    font-size: 38px;
    font-weight: 650px;
    color: white;



}

.para1 {
    padding-top: 25px;
    font-size: 20px;
}

.left h1 {
    font-size: 100px;
    padding: 30px;
}

.right {
    width: 50%;
    height: 100%;
    position: relative;

    .image {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -225px;
        right: 40px;

        img {
            width: 100%;
        }
    }

}

.bondres {
    padding: 60px;
    width: 100%;
    display: flex;
    background-color: rgb(60, 188, 197);
    gap: 80px;

}

.left1 {
    width: 65%;
    display: flex;
    gap: 10px;
    color: white;

    & img {
        width: 170px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        font-style: normal;
        padding-left: 50px;
    }

    h1 {
        font-size: 30px;
        padding-left: 50px;
    }
}

.card {
    width: 40%;
    height: 100%;
    background-color: rgb(rgb(60, 188, 197));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 0;

}

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.right1 {
    width: 35%;
    text-align: left;

    & h1 {
        padding: 10px;
        font-size: 120px;
        color: white;
    }

    p {
        color: white;
        font-size: 20px;
        font-style: normal;
        line-height: 32px;

    }
}

.menu {
    background-color: rgb(60, 188, 197);
    text-align: center;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.line {
    border: 2px solid white;
    width: 120px;
    margin: auto;
    border-radius: 8px;
}

.pera {
    background-color: rgb(60, 188, 197);
    color: white;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;
}


.menu-container {
    width: 100%;
    padding: 40px 40px 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 30px;
    background-color: rgb(60, 188, 197);
}

.menu-left,
.menu-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}


.container1 {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-bottom: 40px;
}

.ice {
    font-size: 35px;
    color: white;
}

.line1 {
    border: 2px solid white;
    width: 250px;
    margin: auto;
    border-radius: 8px;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 0px 30px;
    border-bottom: 1px solid rgba(255, 252, 252, 0.215);
    padding-bottom: 10px;

}

.left2 {
    display: flex;
    align-items: center;
    gap: 20px;

}

.menu-left:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-right:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.discript {
    background-color: rgb(60, 188, 197);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;

}

.dleft {
    font-size: 60px;
    color: white;
}

.dright h2 {
    font-size: 40px;
    padding-top: 10px;
    color: white;
}

.dright p {
    font-size: 20px;
    padding-top: 12px;
    color: rgba(255, 255, 255, 0.705);
}

.dline {
    align-items: start;
    border: 2px solid white;
    width: 120px;
    margin-top: 50px;

}

.frame {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgb(60, 188, 197);
    display: flex;
    justify-content: center;

}

.main-write {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(60, 188, 197);
}

.write {
    width: 100%;
    color: white;
    padding: 50px 10px;
    background-color: rgb(60, 188, 197);

    & h4 {
        font-size: 20px;
        margin-top: 20px;
    }

    & h2 {
        font-size: 37px;
        margin-top: 20px;
    }

    & p {
        font-size: 17px;
        margin-top: 30px;

    }

}

.pline1 {
    align-items: start;
    border: 2px solid white;
    width: 250px;
    margin-top: 40px;
}

.sline1 {
    align-items: start;
    border: 2px solid rgba(255, 255, 255, 0.47);
    width: 40px;
    margin-top: 40px;


}

.write1 {
    width: 100%;
    color: white;
    padding: 10px 10px;
    background-color: rgb(60, 188, 197);

    & h4 {
        font-size: 20px;

    }

    & h2 {
        font-size: 37px;
        margin-top: 20px;
    }

    & p {
        font-size: 17px;
        margin-top: 30px;

    }

}

.main-write1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(60, 188, 197);
}

.slector {
    background-color: rgb(60, 188, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: white;
    position: relative;
}

.left3 {
    padding: 50px;
    position: relative;

}

.right3 {
    padding: 50px;
    ;

    h1 {
        font-size: 100px;
        text-align: start;
    }

    & h2 {
        text-align: start;
        font-size: 35px;
    }

    & p {
        text-align: start;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.726);
    }
}

.mline1 {
    align-items: start;
    border: 2px solid white;
    width: 140px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.signa {
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: -105px;
    right: -105px;
}

.slector1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 280px 20px;
}

.left5 {
    padding-left:89px ;
    color: white;
    h1 {
        padding-bottom: 30px;
        font-size: 85px;

    }

    & p {
        padding-left: 10px;
        padding-bottom: 30px;
        font-size: 18px;

        line-height: 30px;
        

    }
}

.right5 input {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-top: 18px;
    font-size: 18px;
}

.right5 textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-top: 18px;
    font-size: 18px;
}

.place {
    display: flex;
    gap: 15px;

}

.btn {
    border-radius: 50px;
    padding: 15px 25px;
    background-color: brown;
    color: white;
    font-size: 16px;
    border: 0;
    margin-top: 18px;
}

.footer {
    background-color: rgb(228, 58, 112);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 130px 0;
    width: 100%;
    position: relative;

    & h1 {
        font-size: 40px;
    }

    & p {
        font-size: 19px;
        padding: 10px 0;
    }

}

.imag {
    width: 100%;
    margin: auto;
    img {
        width: 200px;
        position: absolute;
        top: -80px;
        right: 40%;

    }
}

.icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
    font-size: 20px;
}

.icon a{
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}
.icon img{
    width: 25px;
    height: 25px;
}